.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  width: 100%;

  background-color: var(--black);
  /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.574); */
}

.footer-container.dark {
  box-shadow: none;
  box-shadow: 0 -1px 0px var(--grey);
}

.text {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--grey);
}
