.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.286);
}

.container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
