.header {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.574);
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  position: fixed;
  top: 0px;
  transition: all 0.5s ease;
  height: var(--header-height);
  align-items: center;
  z-index: 10;
}

.header.dark {
  box-shadow: none;
  box-shadow: 0 1px 0px var(--grey);
}

.hide {
  height: 0;
}

.hide.dark {
  border-bottom: none;
}
