.main-nav {
  width: 100%;
  min-width: 50%;
  overflow: hidden;
}

.main-nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  float: right;
  align-items: center;
}

.main-nav li {
  float: left;
  margin: 0 2rem 0 1rem;
  vertical-align: middle;
  text-align: center;
}

.main-nav a {
  padding: 4px;
  text-decoration: underline 2px rgba(255, 255, 255, 0);
  color: inherit;
}

.main-nav li a:hover {
  transition: all 0.1s ease-in-out;
  color: rgba(255, 255, 255, 0.778);
}

@media only screen and (min-width: 600px) {
  .main-nav li a:hover span {
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  .about:hover::before {
    opacity: 1;
    content: "0001";
    position: absolute;
    right: 388px;
    color: var(--red-alt);
  }

  .about:hover::after {
    content: "<";
    position: absolute;
    right: 325px;
    color: var(--red-alt);
    font-weight: bolder;
  }

  .experience:hover::before {
    opacity: 1;
    content: "0010";
    position: absolute;
    right: 262px;
    color: var(--red-alt);
  }

  .experience:hover::after {
    content: "<";
    position: absolute;
    right: 163px;
    color: var(--red-alt);
    font-weight: bolder;
  }

  .contact:hover::before {
    opacity: 1;
    content: "0011";
    margin-left: 0;
    position: absolute;
    right: 99px;
    color: var(--red-alt);
  }

  .contact:hover::after {
    content: "<";
    position: absolute;
    right: 24px;
    color: var(--red-alt);
    font-weight: bolder;
  }
}
