/* The switch - the box around the slider */
.switch {
  margin: auto 1rem auto 1rem;
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 40px;
  min-height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.moon {
  color: white;
  position: absolute;
  justify-content: center;
  top: 2px;
  left: 4.5px;
  right: 0;
  bottom: 0;
  width: 10px;
  z-index: 1;
  transition: 0.4s;
}

.lightbulb {
  color: white;
  position: absolute;
  justify-content: center;
  left: 5px;
  right: 0;
  bottom: 2px;
  z-index: 1;
  width: 10px;
  transition: 0.4s;
}

/* The slider */
.slider {
  border: solid 1px white;
  border-radius: 26px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--red);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  top: 2px;
  background-color: rgb(201, 201, 201);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  z-index: 2;
}

input:checked + .slider {
  background-color: var(--black);
}

input:checked + .slider:before {
  transform: translateY(20px);
}
