.about {
  width: 100%;
  padding: 5rem 2rem;
  margin: 40% auto;
  text-align: left;
  border-radius: 0;
  font-weight: lighter;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.about p {
  margin: 0 0 1rem 0;
}

.tech-container {
  margin: 1rem auto 0 auto;
  display: flex;
}

.tech-container ul {
  list-style: none;
  margin: 0 1rem 0 0;
}

.tech-container ul li::before {
  content: "- ";
}

.content {
  min-width: 300px;
  width: 500px;
}

.content h2 {
  margin: 0 auto 1rem auto;
}

.content a {
  text-decoration: none;
  color: var(--red-alt);
  font-weight: 350;
  transition: all 0.2s ease-in-out;
}

.content a:hover {
  color: rgb(244, 154, 75);
}

.profile {
  width: 20%;
  min-width: 120px;
  max-width: 200px;
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
}

.profile img {
  border-radius: 100px;
  border: solid 4px var(--red-alt);
  transition: all 0.2s ease-in-out;
}

.profile img:hover {
  filter: none;
}

.profile a {
  margin: 0 auto 0 auto;
  text-align: center;
  color: white;
  transition: all 0.2s ease-in-out;
}

.profile a:hover {
  color: var(--red);
}

.linkedin-icon {
  height: auto;
  width: 15%;
  min-width: 25px;
  max-width: 45px;
  margin: 0 auto 0 auto;
  padding: 0.5rem;
}
