.contact {
  padding: 5rem 2rem;
  margin: 100px auto;
  text-align: left;
  border-radius: 20px;
  font-weight: lighter;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

