.greeting {
  margin: 10rem auto 0 auto;
  width: 800px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.greeting-top {
  margin-bottom: 1rem;
  background-color: transparent;
}

.name {
  background-color: transparent;
  margin: 0;
  font-size: 6rem;
  text-align: left;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.557);
  margin-bottom: 1rem;
}

.bracket {
  color: var(--black);
  text-shadow: none;
}

.greeting-bot {
  margin-top: 0;
  background-color: transparent;
}

.greeting-bot span {
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322); */
  color: rgba(0, 0, 0, 0.699);
  font-weight: bold;
  font-size: 1.25rem;
}
