.greeting {
  margin: 0 auto 0 auto;
  padding: 0 2rem 0 2rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.greeting-top {
  font-size: 1.5rem;
}

.name {
  font-size: 6rem;
  flex-wrap: wrap;
}

.period {
  font-family: "Montserrat", sans-serif;
}

.name.dark {
  color: var(--red-alt);
}

.greeting-bot {
  font-size: 1.5rem;
}

.greeting-bot span {
  color: rgba(0, 0, 0, 0.699);
}

.greeting-bot.dark span {
  color: var(--red-alt);
}
