.greeting {
  margin: 10rem auto 0 auto;
  width: 800px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.greeting-top {
  /* margin-bottom: 1rem; */
  font-size: 1.25rem;
  background-color: transparent;
}

.name {
  background-color: transparent;
  font-size: 6rem;
  text-align: left;
}

.name.dark {
  color: var(--red-alt);
}

.greeting-bot {
  margin-top: 0;
  margin-left: 16px;
  background-color: transparent;
}

.greeting-bot span {
  color: rgba(0, 0, 0, 0.699);
  font-size: 1.25rem;
}

.greeting-bot.dark span {
  color: var(--red-alt);
}
