.experience {
  padding: 3rem 3rem;
  min-width: 800px;
  max-width: 800px;
  margin: 100px auto;
  text-align: left;
  border-radius: 20px;
  font-weight: lighter;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.title {
  margin: 0 auto 2rem 0;
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  justify-content: center;
}
