.experience {
  width: calc(var(--card-max-width) - 360px);
}

.experience h2 {
  margin: 0 0 0.5rem 0;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.role {
  margin: 0 0 4px 0;
  font-weight: 500;
}

.tenure {
  margin: 0 0 1.5rem 0;
  font-style: italic;
  font-size: .9rem;
}

.experience ul {
  max-height: calc(var(--card-max-height) - 260px);
  overflow: auto;
}

.experience li {
  max-width: 400px;
  min-width: 400px;
  margin: 0 0 1rem 0;
}
