.experience {
  padding: 3rem 3rem;
  min-width: var(--card-max-width);
  max-width: var(--card-max-width);
  min-height: var(--card-max-height);
  max-height: var(--card-max-height);
  margin: 100px auto;
  text-align: left;
  border-radius: 20px;
  font-weight: lighter;
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

.title {
  margin: 0 auto 2rem 0;
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
