.experience h2 {
  margin: 0 0 0.5rem 0;
}

.experience p {
  margin: 0 0 1.5rem 0;
  font-style: italic;
  font-weight: bold;
}

.experience li {
  max-width: 400px;
  min-width: 300px;
  margin: 0 0 1rem 0;
}
