.selector {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  margin-right: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 80px 0 0;
}

.highlighter {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 2px;
  background-color: var(--orange);
  height: var(--selector-height);
  border-radius: 20px;
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}
