* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --red: rgb(182, 64, 64);
  --red-alt: rgb(211, 68, 68);
  --black: rgb(26, 23, 23);
  --grey: #a9a9a9;
}

.light {
  background-color: var(--red);
  color: white;
  transition-duration: 0.5s;
}

.dark {
  background-color: var(--black);
  color: white;
  transition-duration: 0.5s;
}
